.explore-member{
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}
.explore-member h1{
    color: black;
    font-weight: 600;
}
.explore-member-text{
    max-width: 90%;
    columns: rgb(152, 127, 127);
}
.explore-member-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 20px 0px;
    overflow-x: scroll;
    text-align: center;
}
.explore-member-list::-webkit-scrollbar{
    display: none;
}
.explore-member-list-item img{
    width: 7.5vw;
    min-width: 80%;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 40%;  
}
.explore-member-list-item p{
    margin-top: 10px;
    color:black;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}
.explore-member hr{
    margin: 10px 0px;
    height: 3px;
    background-color: rgb(199, 198, 198);
    border: none;
    border-radius: 10px;
}
.explore-member-list-item .active{
    border: 3px solid rgb(0, 255, 128);
    border-radius: 50%;
    padding: 2px;
}
@media (max-width: 1050px){
    .explore-member-text{
        max-width: 100%;
        font-size: 14px;
    }
}