.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px ;
}
.add form{
    gap:20px;
}
.add-img-upload img{
    width: 200px;
    cursor: pointer;
}
.add-member-desc, .add-member-name{
    width: max(50%, 280px);
}
.add-member-name input, .add-member-desc textarea{
    padding: 10px;
}
.add-category-price{
    display: flex;
    gap:30px;
}
/* .add-category{
    display: flex;
    gap:30px;
} */
.add-category-price select, .add-category-price input{
    max-width: 200px;
    padding: 10px;
}
.add-button{
    max-width: 120px;
    border: none ;
    padding:10px ;
    background-color: black;
    color:white;
    cursor: pointer;
    border-radius: 10px;
}